/* --table-data-cell-level - задается в компоненте */
.ct--DataCell {
  padding-right: var(--space-s);
  padding-left: calc(
    var(--space-s) + (var(--table-data-cell-slot-width) + var(--space-2xs)) *
      var(--table-data-cell-level, 0) +
      var(--table-data-cell-additional-space, calc(0 * 1px))
  );

  &_alignmentIndent {
    --table-data-cell-additional-space: calc(
      var(--table-data-cell-gap) - var(--space-2xs)
    );
  }

  &_size {
    &_m {
      --table-data-cell-slot-width: var(--space-2xl);
      --table-data-cell-slot-height: var(--space-4xl);
      --table-data-cell-gap: var(--space-s);
    }

    &_s {
      --table-data-cell-slot-width: var(--space-xl);
      --table-data-cell-slot-height: var(--space-3xl);
      --table-data-cell-gap: var(--space-xs);
    }
  }

  &_indicator {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      border: var(--space-2xs) solid transparent;
      border-top: var(--space-2xs) solid var(--table-data-cell-indicator-color);
      border-right: var(--space-2xs) solid
        var(--table-data-cell-indicator-color);
    }
  }

  &-Slots {
    &_truncate {
      overflow: hidden;
    }
  }

  &-ControlSlot {
    min-width: var(--table-data-cell-slot-width);
    min-height: var(--table-data-cell-slot-height);
  }

  &-ContentSlot {
    min-height: var(--table-data-cell-slot-height);
    &_truncate {
      overflow: hidden;
    }
  }

  &-Text {
    &_lineClamp {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: var(--table-data-cell-line-clamp);
      -webkit-box-orient: vertical;
    }
  }
}

.MixFlex.ct--DataCell {
  --flex-gap: var(--table-data-cell-gap);
}
