.ct--TableResizers {
  display: contents;

  &-Cell {
    position: sticky;
    top: calc(var(--table-header-height) + var(--table-body-seporator-height));
    z-index: calc(var(--table-header-z-index) + 1);
  }

  &-Resizer {
    --inner-line-width: 1px;
    --fast-transition: 0.15s ease-out;
    --resizer-width: 4px;
    --resizer-top: calc(
      (var(--table-header-height) - var(--table-resizer-top-offset)) * -1
    );
    position: absolute;
    top: var(--resizer-top);
    right: 0;
    width: var(--resizer-width);
    background-color: var(--color-bg-ghost);
    opacity: 0;
    height: calc(var(--table-body-height) - var(--table-resizer-top-offset));
    cursor: col-resize;

    user-select: none;
    transition: opacity var(--fast-transition);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: calc((var(--resizer-width) - var(--inner-line-width)) / 2);
      bottom: 0;
      width: var(--inner-line-width);
      background-color: var(--color-bg-link);
    }

    &:hover,
    &:focus,
    &_active {
      opacity: 1;
    }
  }
}
