.ct--TableData {
  display: contents;

  &-Cell {
    grid-column: span var(--table-cell-col-span, 1);

    &_pinned {
      z-index: calc(var(--table-header-z-index) - 1);
    }
  }

  &-Row {
    display: contents;
  }
}
