.ct--TableData {
  display: contents;
  --table-data-cell-bg: transparent;

  &-Cell {
    grid-column: span var(--table-cell-col-span, 1);
    background: var(--table-data-cell-bg);
    transition: background-color 0.2s;

    &_pinned {
      z-index: calc(var(--table-header-z-index) - 1);
    }
  }

  &-Row {
    display: contents;

    &_zebraStriped {
      --table-data-cell-bg: color-mix(
        in srgb,
        rgb(from var(--color-bg-stripe) r g b / 1) 5%,
        transparent
      );
    }

    &:has(> * > [data-row-active='true']) {
      --table-data-cell-bg: color-mix(
        in srgb,
        rgb(from var(--color-control-bg-primary) r g b / 1) 15%,
        transparent
      );
    }

    &:has(> * > [data-row-hover='true']),
    .ct--TableData_rowHoverEffect &:hover {
      --table-data-cell-bg: color-mix(
        in srgb,
        rgb(from var(--color-control-typo-ghost-hover) r g b / 1) 9%,
        transparent
      );
    }

    &:has(> * > [data-row-hover='true'][data-row-active='true']),
    .ct--TableData_rowHoverEffect &:hover:has(> * > [data-row-active='true']) {
      --table-data-cell-bg: color-mix(
        in srgb,
        rgb(from var(--color-control-typo-ghost-hover) r g b / 1) 3%,
        color-mix(
          in srgb,
          rgb(from var(--color-control-bg-primary) r g b / 1) 15%,
          transparent
        )
      );
    }
  }
}
