.ct--Filter {
  background: var(--color-bg-default);
  border: 1px solid var(--color-bg-border);
  border-radius: var(--control-radius);

  &-Input {
    border-bottom: 1px solid var(--color-bg-border);
  }

  &-Footer {
    border-top: 1px solid var(--color-bg-border);
    background: var(--color-bg-secondary);
    border-radius: 0 0 var(--control-radius) var(--control-radius);
  }
}
