.ct--TableSeparatorTitles {
  display: contents;

  &-Cell {
    position: sticky;
    top: calc(var(--table-header-height) + var(--table-body-seporator-height));
  }

  &-Title {
    position: absolute;
    padding: var(--space-xs) 0;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
  }
}
