.ct--CollapseExampleFullscreenContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--space-m);

  &-Item {
    height: 360px;

    .ct--Collapse-Content {
      height:
        calc(
          100% -
          calc(
            var(--control-height-s) + var(--control-border-width) +
            var(--space-xs) * 2
          )
        );
    }
  }

  &-Table {
    max-height: 100%;
  }
}
