.ct--TableBody {
  --table-body-seporator-height: 2px;
  display: grid;
  grid-template-columns: var(--table-grid-template-columns);
  box-sizing: border-box;
  background: var(--color-bg-default);
  overflow: auto;

  &-Seporator {
    grid-column: var(--table-row-grid-column);
    &_sticky {
      position: sticky;
      top: var(--table-header-height);
    }

    z-index: calc(var(--table-header-z-index));

    height: var(--table-body-seporator-height);

    &::before {
      display: block;
      content: '';
      height: 100%;
      width: 100%;
      background: var(--color-bg-border);
    }
  }
}
