.ct--TextFieldCell {
  width: 100%;
  height: 100%;
  min-height: var(--text-filed-cell-min-height);

  &_size {
    &_s {
      --text-filed-cell-min-height: var(--space-3xl);
    }

    &_m {
      --text-filed-cell-min-height: var(--space-4xl);
    }
  }

  &[data-cell-edit-mode='true'] {
    & .ct--DataCell-Slots {
      overflow: hidden;
      flex: 1;
    }

    & .ct--DataCell-ContentSlot {
      overflow: hidden;
      flex: 1;
    }
  }

  &-Field {
    flex: 1;

    /* flex-grow: strache; */
    align-items: stretch;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5em;
  }

  & .TextFieldTypeTextArea-TextArea {
    line-height: var(--line-height-text-m);
  }

  & .FieldControlLayout-Children {
    width: var(--field-control-layout-children-width);
  }
}
